<!DOCTYPE html>
<!-- <html> -->




<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5">
    <title>Mattr</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="script.js" type="text/javascript"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>




<body>




    <div class="background-overlay display-none"></div>




    <div id="js-nav" class="nav display-none">
        <img class="nav-logo" src="/assets/mattr-logo.png">
        <img class="nav-brand" src="/assets/mattr.png">
        <div class="nav__invite">
            <div>Request an Invitation</div>
        </div>
    </div>



    
    <div class="lightbox display-none">
        <img src="assets/lightbox.png">
        <div class="lightbox__footer">
            <div class="float-left">
                <div class="screenshot__title--title">Screenshot Title</div>
                <div class="screenshot__title--body">Lorem ipsum dolor sit amet</div>
            </div>
            <div class="lightbox-exit">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>




    <div class="hero">

        
        <div class="wrapper">


            <div class="header">
                <a href="https://www.google.com"><div class="mattr-text-logo float-left"><img src="assets/mattr.png"></div></a>
                <div class="header__right">
                    <a href="https://www.google.com"><div class="header__right--signin float-right">SIGN IN</div></a>
                    <a href="https://www.google.com"><div class="header__right--blog float-right">BLOG</div></a>
                </div>
            </div>


            <div class="intro">

                <div class="mattr-logo"><img src="assets/mattr-logo.png"></div>

                <div class="intro__text__top">
                    <div class="intro__text--large">Personalities</div>
                    <div class="intro__text--large">tell powerful stories.</div>
                </div>

                <div class="intro__text__center">
                    <div class="intro__text--small">The key to successful brand engagement lies within the vibrant personalities that make up online audiences. Mattr translates the social data they generate into powerful stories and actionable insights, allowing brands to connect on a deeper level with their targets.</div>
                </div>

                <div class="intro__text__bottom">
                    <div class="intro__text--medium">GET TO KNOW YOUR AUDIENCE.</div>
                    <div class="intro__text--medium">REQUEST A PRIVATE BETA INVITATION:</div>
                </div>

                <div class="invite">
                    <input class="email__field" type="email" placeholder="your@email.com">
                    <div class="invite__request js-email-link float-right">
                        <div class="invite__request--text"><img src="assets/checkmark.png" class="checkbox display-none">REQUEST INVITE</div>
                        <h2 id="result"></h2>
                    </div>
                </div>

            </div>


        </div>


    </div>


    <div class="content">


        <div class="block the-app">
            <h>The App</h>
            <p>Mattr allows you to build a more complete view of your social media audience through a comprehensive set of segmentation, comparison, monitoring, and visualization tools.  Explore our Features to learn more.</p>
        </div>


        <div class="block audience feature lightbox-listener">
            <div class="image">
                <img class="image__icon" src="assets/audience.svg">
                <img class="image__btn" src="assets/plus.png">
            </div>
            <h>Audience Personality Segments</h>
            <p>Decide how you want to look at your audience, based on our Unique Personality Type Analysis and demographics.</p>
        </div>


        <div class="block persona feature lightbox-listener">
            <div class="image">
                <img class="image__icon" src="assets/persona.png">
                <img class="image__btn" src="assets/plus.png">
            </div>
            <h>Persona Builder</h>
            <p>Combine Personality Traits and Demographic information to create Audience Personas that make sense for your business.</p>
        </div>


        <div class="block engagement feature lightbox-listener">
            <div class="image">
                <img class="image__icon" src="assets/engagement.png">
                <img class="image__btn" src="assets/plus.png">
            </div>
            <h>Engagement Response by Persona</h>
            <p>Which of your social media activities are attracting the audience engagement you're looking for? See a segmented report on a per-post basis.</p>
        </div>


        <div class="block social feature lightbox-listener">
            <div class="image">
                <img class="image__icon" src="assets/social.png">
                <img class="image__btn" src="assets/plus.png">
            </div>
            <h>Social Media Benchmarking</h>
            <p>See how your brand’s audience compares to that of your competition, or your industry. Choose what you want to compare and then view the comparision.</p>
        </div>


        <div class="block sentiment feature lightbox-listener">
            <div class="image">
                <img class="image__icon" src="assets/sentiment.png">
                <img class="image__btn" src="assets/plus.png">
            </div>
            <h>Sentiment Variance</h>
            <p>Knowing that your audience is ‘upbeat’ just isn’t enough. You need to know if they’re more upbeat about your brand than they are about other things.</p>
        </div>


    </div>




    <div class="footer">
        <div class="wrapper">


            <div class="address">
                <div class="address__title">San Francisco, CA</div>
                <div class="address__body">Rocketspace<br> 181 Fremont Street<br> San Francisco, California 94105</div>
                <a href="https://www.google.com"><div class="address__email">Email us</div></a>
            </div>


            <div class="address">
                <div class="address__title">Austin, TX</div>
                <div class="address__body">8140 North Mopac Expressway<br> Building 1, Suite 150<br> Austin, Texas 78759</div>
                <a href="https://www.google.com"><div class="address__email">Email us</div></a>
            </div>


            <div class="social">

                <div class="social__title">Elsewhere</div>

                <div class="social__top">
                    <a href="https://www.google.com">
                        <img class="float-left social__icon" src="assets/twitter.png">
                        <div class="float-left social__body">Twitter</div>
                    </a>
                </div>

                <div class="social__middle clear">
                    <a href="https://www.google.com">
                        <img class="float-left social__icon" src="assets/facebook.png">
                        <div class="float-left social__body">Facebook</div>
                    </a>
                </div>

                <div class="social__bottom clear">
                    <a href="https://www.google.com">
                        <img class="float-left social__icon" src="assets/linkedin.jpg">
                        <div class="float-left social__body">LinkedIn</div>
                    </a>
                </div>

            </div>


            <div class="company">

                <div class="company__title">Elsewhere</div>

                <div class="company__top">
                    <a href="https://www.google.com"><div class="float-left company__body">Sign In</div></a>
                </div>

                <div class="company__middle clear">
                        <a href="https://www.google.com"><div class="float-left company__body">Blog</div></a>
                </div>

                <div class="company__bottom clear">
                        <a href="https://www.google.com"><div class="float-left company__body">FAQ</div></a>
                </div>

            </div>


            <div class="legals clear float-left">&copy; 2018 MATTR, All rights reserved.</div>

            
        </div>
    </div>




</body>




<!-- </html> -->