/* structuring general environment *************/
html, body {
    margin: 0px;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* disable ALL visited links from underlining and changing color */
a, a:visited, a:focus {
    text-decoration: none;
}



/* font sets **********************************/
@font-face {
    font-family: 'Adelle Light';
    src: url(/assets/fonts/Adelle_light.otf);
}

@font-face {
    font-family: 'Proxima Nova RG';
    src: url(/assets/fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url(/assets/fonts/ProximaNova-Semibold.otf);
}

@font-face {
    font-family: 'Proxima Nova Semibold Italic';
    src: url(/assets/fonts/ProximaNova-SboldItalic.otf);
}



/* helpers *************************************/
.float-left {
    float: left;
}

.float-right {
    float: right;
}



/* header and hero MQs section ****************/
.hero {
    background-image: url(/assets/hero.png);
    background-repeat: no-repeat;
    min-height: 490px;
    padding-bottom: 45px;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}

.header .mattr-text-logo {
    margin: 0 0 0 24px;
}

.header .header__right--blog {
    font-family: 'Proxima Nova';
    color: #fb0059;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 2px 17px 0 0;
}

.header .header__right--signin {
    font-family: "Proxima Nova";
    color: #fb0059;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 2px 29px 0 0;
}
    








/* media queries for responsive rendering *********************/
@media (min-width: 1200px) {
    .hero {
        background-size: 102%;
    }
    .header {
        max-width: 975px;
        margin: auto;
        padding: 24px 0 0 0;
    }
    .intro {
        width: 485px;
    }
    .intro__text--small {
        font-size: 14px;
    }
}




@media (min-width: 800px) and (max-width: 1199px) {
    .hero {
        background-position: 66% 0%;
        background-size: 137%;
    }
    .header {
        max-width: 975px;
        margin: auto;
        padding: 24px 0 0 0;
    }
    .intro {
        width: 485px;
    }
    .intro__text--small {
        font-size: 14px;
    }
}




@media (min-width: 600px) and (max-width: 700px) {
    .hero {
        background-position: 66% 0%;
        background-size: 174%;
    }
    .header {
        max-width: 975px;
        margin: auto;
        padding: 24px 0 0 0;
    }
    .intro {
        width: 485px;
    }
    .intro__text--small {
        font-size: 14px;
    }
}




@media (min-width: 446px) and (max-width: 599px) {
    .hero {
        background-position: 48% 0%;
        background-size: 242%;
    }
    .header {
        max-width: 975px;
        margin: auto;
        padding: 24px 0 0 0;
    }
    .intro {
        width: 375px;
    }
    .intro__text--small {
        font-size: 12px;
    }
}




@media (max-width: 445px) {
    .hero {
        background-position: 0% 0%;
        background-size: 271%;
    }
    .header {
        max-width: 975px;
        margin: auto;
        padding: 24px 0 0 0;
    }
    .intro {
        width: 375px;
    }
    .intro__text--small {
        font-size: 12px;
    }
}




@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
    .hero {
        background-position: 0% 0%;
        background-size: 271%;
    }
    .header {
        max-width: 975px;
        margin: auto;
        padding: 24px 0 0 0;
    }
    .intro {
        width: 375px;
    }
    .intro__text--small {
        font-size: 12px;
    }

}










/* intro section ****************************/
.intro {
    margin: 74px auto auto auto;
    text-align: center;
}

.mattr-logo {
    margin: 0 0 22px 0;
}

.intro .intro__text__center {
    margin: 0 0 52px 0;
    // max-width: 443px;
}

.intro__text--large {
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'Adelle Light';
    letter-spacing: 1px;
    line-height: 44px;
}

.intro__text--small {
    color: #FFFFFF;
    font-family: 'Proxima Nova';
    line-height: 8px;
    margin: 11px 0 0 0;
}

.intro__text--medium {
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Proxima Nova';
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0 0 0 0;
}



/* 'request an invite' box *******************/
.invite {
    width: 328px;
    height: 50px;
    background-color: #ffffff;
    margin: 8px auto;
}

.email__field {
    width: 180px;
    height: 30px;
    font-size: 14px;
    font-family: 'Proxima Nova Semibold';
    color: black;
    margin: 7.5px 0 0 0;
    border: solid;
    border-color: white;
}

input::placeholder {
    font-family: 'Proxima Nova Semibold Italic';
    color: #A5A5A5;
    opacity: 0.5;
}

.invite__request {
    width: 125px;
    height: 40px;
    background-image: url(assets/layer.png);
    margin: 5px 5px 0 0;
    padding: 11px 0 0 0;
    box-sizing: border-box;
}

.invite__request--text {
    color: #ffffff;
    font-family: 'Proxima Nova Semibold';
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}









/* main section ***********************************/
.content {
    height: 1000px;
    background: #ECECEC;
    
}




