/* structuring general environment *************/
html, body {
  margin: 0px;
  background: #ECECEC; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

/* disable ALL visited links from underlining and changing color */
a, a:visited, a:focus {
  text-decoration: none; }

/* font sets **********************************/
@font-face {
  font-family: 'Adelle Light';
  src: url(/assets/fonts/Adelle_light.otf); }
@font-face {
  font-family: 'Adelle Light Italic';
  src: url(/assets/fonts/Adelle_LightItalic.otf); }
@font-face {
  font-family: 'Proxima Nova RG';
  src: url(/assets/fonts/ProximaNova-Reg.otf); }
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url(/assets/fonts/ProximaNova-Semibold.otf); }
@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url(/assets/fonts/ProximaNova-SboldItalic.otf); }
/* helpers *************************************/
.float-left {
  float: left; }

.float-right {
  float: right; }

.hero .header .mattr-text-logo {
  margin: 0 0 0 24px; }

.hero .header .header__right--blog {
  font-family: 'Proxima Nova';
  color: #fb0059;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 2px 17px 0 0; }

.hero .header .header__right--signin {
  font-family: "Proxima Nova";
  color: #fb0059;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 2px 29px 0 0; }

/* intro section ****************************/
.intro {
  margin: 74px auto auto auto;
  text-align: center; }

.mattr-logo {
  margin: 0 0 22px 0; }

.intro .intro__text__center {
  margin: 0 0 52px 0; }

.intro__text--medium {
  font-size: 13px;
  color: #FFFFFF;
  font-family: 'Proxima Nova';
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0 0 0 0; }

/* 'request an invite' box *******************/
.email__field {
  width: 180px;
  height: 30px;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold';
  color: black;
  margin: 7.5px 0 0 0;
  border: solid;
  border-color: white; }

input::placeholder {
  font-family: 'Proxima Nova Semibold Italic';
  color: #A5A5A5;
  opacity: 0.5; }

.invite__request {
  width: 125px;
  height: 40px;
  background-image: url(assets/layer.png);
  margin: 5px 5px 0 0;
  padding: 11px 0 0 0;
  box-sizing: border-box; }

.invite__request--text {
  color: #ffffff;
  font-family: 'Proxima Nova Semibold';
  font-size: 12px;
  border-radius: 5px;
  text-align: center; }

/* media queries for responsive rendering *********************/
@media (min-width: 1025px) {
  .hero .wrapper {
    max-width: 1024px;
    margin: auto; }

  .hero {
    background-size: 102%;
    background-image: url(/assets/hero.png);
    background-repeat: no-repeat;
    min-height: 490px;
    padding-bottom: 45px; }

  .hero .header {
    max-width: 975px;
    margin: auto;
    padding: 24px 0 0 0; }

  .hero .intro {
    width: 485px; }

  .hero .intro__text__center {
    text-align: center; }

  .hero .intro__text--small {
    font-size: 14px;
    width: 455px;
    text-shadow: 0 0 101px rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.35px; }

  .intro__text--large {
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'Adelle Light';
    letter-spacing: 1px;
    line-height: 44px; }

  .invite {
    width: 328px;
    height: 50px;
    background-color: #ffffff;
    margin: 8px auto; } }
@media (min-width: 800px) and (max-width: 1024px) {
  .hero .wrapper {
    max-width: 800px;
    margin: auto; }

  .hero {
    background-position: 66% 0%;
    background-size: 137%;
    background-image: url(/assets/hero.png);
    background-repeat: no-repeat;
    min-height: 490px;
    padding-bottom: 45px; }

  .hero .header {
    max-width: 800px;
    margin: auto;
    padding: 24px 0 0 0; }

  .hero .intro {
    width: 485px; }

  .hero .intro__text__center {
    text-align: center; }

  .hero .intro__text--small {
    font-size: 14px;
    width: 455px;
    text-shadow: 0 0 101px rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.35px; }

  .intro__text--large {
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'Adelle Light';
    letter-spacing: 1px;
    line-height: 44px; }

  .invite {
    width: 328px;
    height: 50px;
    background-color: #ffffff;
    margin: 8px auto; } }
@media (min-width: 500px) and (max-width: 799px) {
  .hero .wrapper {
    max-width: 1024px;
    margin: auto; }

  .hero {
    background-position: 66% 0%;
    background-size: 205%;
    background-image: url(/assets/hero.png);
    background-repeat: no-repeat;
    min-height: 490px;
    padding-bottom: 45px; }

  .hero .header {
    max-width: 975px;
    margin: auto;
    padding: 24px 0 0 0; }

  .hero .intro {
    width: 485px; }

  .hero .intro__text__center {
    text-align: center; }

  .hero .intro__text--small {
    font-size: 14px;
    width: 455px;
    text-shadow: 0 0 101px rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.35px; }

  .intro__text--large {
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'Adelle Light';
    letter-spacing: 1px;
    line-height: 44px; }

  .invite {
    width: 328px;
    height: 50px;
    background-color: #ffffff;
    margin: 8px auto; } }
@media only screen and (min-width: 325px) and (max-width: 499px) {
  .hero .wrapper {
    max-width: 400px;
    margin: auto; }

  .hero {
    background-position: 0% 0%;
    background-size: 271%;
    background-image: url(/assets/hero.png);
    background-repeat: no-repeat;
    min-height: 490px;
    padding-bottom: 45px; }

  .hero .header {
    max-width: 400px;
    margin: auto;
    padding: 24px 0 0 0; }

  .hero .intro {
    width: 325px; }

  .hero .intro__text__top {
    text-align: center; }

  .hero .intro__text__center {
    text-align: center; }

  .hero .intro__text--small {
    font-size: 14px;
    width: 325px;
    text-shadow: 0 0 101px rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1.35px; }

  .intro__text--large {
    font-size: 38px;
    color: #FFFFFF;
    font-family: 'Adelle Light';
    letter-spacing: 1px;
    line-height: 34px; }

  .invite {
    width: 328px;
    height: 50px;
    background-color: #ffffff;
    margin: 8px auto; }

  .mattr-text-logo {
    display: none; } }
/* main section ***********************************/
@media (min-width: 1024px) and (max-width: 4400px) {
  .content {
    height: 800px;
    max-width: 1024px;
    margin: auto; }

  .content .block {
    float: left;
    margin: auto;
    width: 290px;
    padding-left: 40px; }

  .content .the-app {
    height: 250px;
    padding-top: 125px; }

  .content .feature {
    height: 375px;
    padding-top: 25px; }

  .content .block .image {
    margin: 0 0 20px 20px; } }
@media (min-width: 870px) and (max-width: 1023px) {
  .content {
    height: 800px;
    max-width: 870px;
    margin: auto; }

  .content .block {
    float: left;
    margin: auto;
    width: 270px;
    padding-left: 15px; }

  .content .the-app {
    height: 250px;
    padding-top: 125px; }

  .content .feature {
    height: 375px;
    padding-top: 25px; }

  .content .block .image {
    margin: 0 0 20px 20px; } }
@media (min-width: 750px) and (max-width: 869px) {
  .content {
    height: 1200px;
    max-width: 750px;
    margin: auto; }

  .content .block {
    float: left;
    margin: auto;
    width: 335px;
    padding-left: 30px; }

  .content .the-app {
    height: 250px;
    padding-top: 125px; }

  .content .feature {
    height: 375px;
    padding-top: 25px; }

  .content .block .image {
    margin: 0 0 20px 60px; } }
@media (min-width: 615px) and (max-width: 749px) {
  .content {
    height: 1200px;
    max-width: 615px;
    margin: auto; }

  .content .block {
    float: left;
    margin: auto;
    width: 280px;
    padding-left: 20px; }

  .content .the-app {
    height: 250px;
    padding-top: 125px; }

  .content .feature {
    height: 375px;
    padding-top: 25px; }

  .content .block .image {
    margin: 0 0 20px 20px; } }
@media (min-width: 400px) and (max-width: 614px) {
  .content {
    height: 2375px;
    max-width: 400px;
    margin: auto; }

  .content .block {
    margin: auto;
    width: 360px;
    padding-left: 20px; }

  .content .the-app {
    height: 250px;
    padding-top: 125px; }

  .content .feature {
    height: 375px;
    padding-top: 25px; }

  .content .block .image {
    margin: 0 0 20px 80px; } }
@media only screen and (max-device-width: 480px) {
  .content {
    height: 2375px;
    max-width: 480px;
    margin: auto; }

  .content .block {
    float: left;
    margin: auto;
    width: 480px; }

  .content .the-app {
    padding-top: 125px; }

  .content .feature {
    padding-top: 25px; }

  .content .block .image {
    margin: 0 0 20px 80px; } }
.content .the-app h {
  color: #42014e;
  font-family: "Adelle";
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 0.52px;
  line-height: 51px;
  text-align: left; }

.content .the-app p {
  color: #7d7d7d;
  font-family: "Adelle Light Italic";
  font-size: 17px;
  font-weight: 400;
  text-align: left; }

.content .image__icon {
  z-index: 10; }

.content .image__btn {
  margin: 0 0 4px -41px;
  z-index: 100; }

.content h {
  color: #df0e6b;
  font-family: "Adelle";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.29px;
  line-height: 12.49px;
  text-align: left; }

.content p {
  color: #7c7b74;
  font-family: "Proxima Nova RG";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 20px;
  text-align: left; }

/*# sourceMappingURL=style.css.map */
